.map {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0 70px;
    box-shadow: $shadow;
    margin-bottom: 90px;
    position: relative;

    &_active {
      & .map__nav {
        opacity: 0.2;
      }
      & .map__selection-arrow {
        transform: rotate(-180deg);
      }

      & .map__dropdown {
        opacity: 1;
        visibility: visible;
      }

      & ~ .map__img-wrapper {
        opacity: 0.2;
      }
    }
  }

  &__selection {
    font-size: toRem(24);
    font-weight: 600;
    position: relative;
    margin-left: 0;
    margin-right: 56px;
    white-space: nowrap;
    cursor: pointer;

    &-arrow {
      position: absolute;
      top: 9px;
      padding-left: 6px;
      left: auto;
      right: auto;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }

  &__nav {
    display: flex;
    column-gap: 30px;

    &-item {
      line-height: 2px;
      padding-bottom: 28px;
      padding-top: 28px;
      font-size: toRem(18);
      font-weight: 600;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }

      &_active {
        color: $secondary-color;
        border-bottom: 3px solid $secondary-color;
      }
    }
  }

  &__dropdown {
    position: absolute;
    background-color: #fff;
    padding: 30px 68.5px;
    top: 90px;
    left: 0;
    right: 0;
    box-shadow: $shadow;
    z-index: 5;
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;

    &_active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;

      .map__nav {
        opacity: 0.2;
      }

      .map__img-wrapper {
        opacity: 0.2;
      }
    }

    &-wrapper {
      position: relative;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: start;
      column-gap: 24px;
    }

    &-item {
      font-weight: 600;
      font-size: toRem(18);
      line-height: 20px;
      position: relative;
      cursor: pointer;

      &_active &:not(ul, li) {
        color: $secondary-color;
        border-bottom: 3px solid $secondary-color;

        display: block;
      }

      li {
        font-weight: 400;
        line-height: 30px;
        transition: all 0.2s ease-in;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    &-arr {
      position: absolute;
      display: none;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__dot {
    position: absolute;
    font-size: toRem(14);
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      background-color: $text-color;
      border-radius: 100%;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.south_west {
  text-wrap: nowrap;
}

.map__dropdown-item_active .map__dropdown-cities {
  display: block;
}

.map__dot[data-city="moscow"] {
  bottom: 58.5%;
  left: 9.7%;
}
.map__dot[data-city="voronezh"] {
  bottom: 54.5%;
  left: 5.6%;
}
.map__dot[data-city="yaros"] {
  top: 34.5%;
  left: 12%;
}
.map__dot[data-city="belg"] {
  bottom: 49.9%;
  left: 5.3%;
}
.map__dot[data-city="stpeter"] {
  top: 22%;
  left: 8.1%;
}
.map__dot[data-city="kalin"] {
  top: 21%;
  left: 0.5%;
}
.map__dot[data-city="rost"] {
  bottom: 42.6%;
  left: 3.2%;
}
.map__dot[data-city="kras"] {
  bottom: 31.6%;
  left: 2%;
}
.map__dot[data-city="volg"] {
  bottom: 37%;
  left: 7%;
}
.map__dot[data-city="kazan"] {
  bottom: 46%;
  left: 18.7%;
}
.map__dot[data-city="samara"] {
  bottom: 44.5%;
  left: 13.6%;
}
.map__dot[data-city="ufa"] {
  bottom: 40%;
  left: 20%;
}
.map__dot[data-city="oren"] {
  bottom: 35.2%;
  left: 15.65%;
}
.map__dot[data-city="novg"] {
  top: 44.5%;
  left: 13%;
}
.map__dot[data-city="ekb"] {
  bottom: 41.3%;
  left: 23%;
}
.map__dot[data-city="chelyaba"] {
  bottom: 35.3%;
  right: 71.8%;
}
.map__dot[data-city="perm"] {
  bottom: 44.8%;
  left: 28.7%;
}
.map__dot[data-city="surg"] {
  bottom: 42.9%;
  left: 33.9%;
}
.map__dot[data-city="tyumen"] {
  bottom: 35.3%;
  right: 64.8%;
}
.map__dot[data-city="izhevsk"] {
  bottom: 47.3%;
  left: 24.7%;
}
.map__dot[data-city="novosib"] {
  bottom: 20.3%;
  right: 56%;
}
.map__dot[data-city="omsk"] {
  bottom: 16.3%;
  right: 61.6%;
}
.map__dot[data-city="tomsk"] {
  bottom: 23.9%;
  right: 52%;

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: $text-color;
    border-radius: 100%;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.map__dot[data-city="krasnoy"] {
  bottom: 20%;
  right: 46%;
}
.map__dot[data-city="irk"] {
  bottom: 13%;
  right: 42.8%;
}
.map__dot[data-city="hab"] {
  bottom: 17%;
  right: 18.8%;

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: $text-color;
    border-radius: 100%;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.map__dot[data-city="vlad"] {
  bottom: 0%;
  right: 19%;
}
