.map {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 70px;
    box-shadow: $shadow;
    margin-bottom: 90px;
    position: relative;
  }

  &__selection {
    font-size: toRem(24);
    font-weight: 600;
    position: relative;
    margin-left: 0;

    img {
      position: absolute;
      top: 9px;
      right: -32px;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    column-gap: 30px;

    &-item {
      font-size: toRem(18);
      font-weight: 600;
      line-height: 20px;
      cursor: pointer;

      &_active {
        color: $secondary-color;
        border-bottom: 3px solid $secondary-color;
      }
    }
  }

  &__dropdown {
    position: absolute;
    background-color: #fff;
    padding: 30px 68.5px;
    top: 110px;
    left: 0;
    right: 0;
    box-shadow: $shadow;

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: start;
      column-gap: 24px;
    }

    &-item {
      font-weight: 600;
      font-size: toRem(18);
      line-height: 20px;
      cursor: pointer;

      &_active {
        color: $secondary-color;
        border-bottom: 3px solid $secondary-color;
      }

      li {
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
}
