.mission {
  &__wrapper {
    background-color: $secondary-color;
    padding: 140px 70px;
    color: #fff;
    text-align: center;
    position: relative;

    &::before {
      content: url("/public/images/left_pattern.png");
      position: absolute;
      background-repeat: no-repeat;
      height: 100%;
      top: 10%;
      left: 0;
      z-index: 0;
    }

    &::after {
      content: url("/public/images/right_pattern.png");
      position: absolute;
      background-repeat: no-repeat;
      height: 100%;
      top: 10%;
      right: 0;
      z-index: 0;
    }
  }
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
  }

  &__descr {
    line-height: 150%;
    position: relative;
    z-index: 5;
  }
}
